div.loadingSpot{
  background-color: #222;
  position: relative;
  height: 50px;
  width: 50px;
  border-radius: 25px;
  margin-top: 100px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  animation: rotateAnimation .5s linear infinite;
}
  @keyframes rotateAnimation{  
      0% { transform: rotate(0deg);}
      50% { transform: rotate(180deg);}
      100% { transform: rotate(360deg);}
      
  }      
  div.loadingSpot:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    height: 25px;
    width: 25px;
    border-radius: 10px;
  }





tr:nth-child(even) {
  background-color: #f9f9f9;
}
tr{
  border-top: 1px solid #ddd; 
}
tr:first-child{
  border-top: 2px solid #ddd;  
}
table,td{
  border: none!important;
}
.note-editor td{
  border-left: 1px solid #F9F9F9!important; 
}



/*
* Note bar
*/

div#noteBar{
  position: fixed;
  width: 200px;
  height: 20px;
  text-align: center;
  background-color: black;
  color: white;
  bottom: 0;
  right: 0;
  opacity: 0.7;
  border-radius: 3px 0 0 0;
}



/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}


/*
 * Global add-ons
 */

.lagnLins{
  position: absolute;
  top: 13px;
  left: 300px;
}
  .lagnLins > a{
    margin-left: 10px;
    color: #999;
  }
    .lagnLins > a:hover{
      color: #aaa;
    }
    .lagnLins > a.active{
      color: #fff;
    }
    .lagnLins > a > img{
      margin-right: 2px;
    }  
.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}
.logo-l{
  background-image: url("../img/logo.png");
  background-repeat: no-repeat;
  background-position: 10px 10px;
  padding-left: 50px;
}
/*
 * Sidebar
 */


.sidebarWithCarouselGap{

}
/* Hide for mobile, show later */
.sidebar {
  display: none;  
}
@media (min-width: 768px) {
  .sidebarWithCarouselGap{
    top: 370px!important;
    position: absolute !important;
    height: 100%;
  }  
  .sidebar {
    position: fixed;
    top: 70px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  }
  .sidebar li>a{
    height: 50px;
  }
  .sidebar li>a:before{
    content: "\f105";
    font-family: "FontAwesome";
    color: #bdbdbd;
    padding: 0 20px;
  }
}

/* Sidebar navigation */

.navbar-fixed-top{
  height: 70px;
  line-height: 70px;
  border: 0;
}
.navbar-fixed-top li>a{  
  height: 70px;
  line-height: 70px;
  padding: 0 30px;

}

.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a {
  color: #fff;
  background-color: #428bca;
}
.navbar-brand{
  line-height: 70px;
  padding: 0 35px;
}






.transparentNavbar{
  background-color: transparent;
}

.transparentNavbar .logo-l{
  background-image: url("../img/logo-w.png");
}
.transparentNavbar .navbar-brand{
  color: white;
}
.transparentNavbar .navbar-nav>li>a{
  color: #DDD;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 300px;
  margin-bottom: 60px;
  z-index: 1;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 300px;
  background-color: #777;
  background-position:  center;
  background-size: 100% auto;
  background-repeat: no-repeat;
}
.carousel .item > video{
  width: 100%;
  height: auto;
}
@media (max-width: 768px) {
  .carousel .item {
    background-size: 160% auto;
  }
  .carousel .item > video{
    width: 180%;
  }
}

.carousel-indicators.right{
  text-align: right;
  right: 0;
  left: auto!important;
  padding-right: 40px;
}




/*
 * Main content
 */

.mainWithCarouselGap{
  top: 250px;
}
.main {
  padding: 20px;  
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}
