@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Thin.eot');src: url('../fonts/Roboto-Thin.eot?#iefix') format('embedded-opentype'),url('../fonts/Roboto-Thin.woff2') format('woff2'),url('../fonts/Roboto-Thin.woff') format('woff'),url('../fonts/Roboto-Thin.ttf') format('truetype'),url('../fonts/Roboto-Thin.svg#Roboto') format('svg');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Light.eot');src: url('../fonts/Roboto-Light.eot?#iefix') format('embedded-opentype'),url('../fonts/Roboto-Light.woff2') format('woff2'),url('../fonts/Roboto-Light.woff') format('woff'),url('../fonts/Roboto-Light.ttf') format('truetype'),url('../fonts/Roboto-Light.svg#Roboto') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Medium.eot');src: url('../fonts/Roboto-Medium.eot?#iefix') format('embedded-opentype'),url('../fonts/Roboto-Medium.woff2') format('woff2'),url('../fonts/Roboto-Medium.woff') format('woff'),url('../fonts/Roboto-Medium.ttf') format('truetype'),url('../fonts/Roboto-Medium.svg#Roboto') format('svg');
    font-weight: 500;
    font-style: normal;
}






body {
       height: 100%;
}


body{
    padding: 0;
    margin: 0;
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 16px;
}
    .regularText{
        font-weight: 300;
        font-size: 15px;
        margin: 0;
        display: inline;
    }
    body,  body a{
        color: #222;
    }
    body h2{
        font-weight: 100;
        font-size: 40px;
        width: 100%;
        text-align: center;
    }
    body h3{
        font-weight: 300;
        font-size: 30px;
    }
    b,strong{
        font-weight: 500;
    }

body a{
    text-decoration: none;
}
h3 a:hover, a.underlineOnHover:hover{
    text-decoration: underline;
}
section{
    /*margin-top: 0;*/
    /*margin-bottom: 0;*/
}
section h2{
    margin: 0;
    padding: 20px 0;
}
section ul{
    margin: 0;
    padding: 20px 0;
}

.wrapper {
    position: relative;
    min-height: 94.4%;
}

.button{
    display: inline-block;
    height: 42px;
    line-height: 42px;
    padding: 0 20px;
    text-align: center;
    border-radius: 3px;
    border: none;
    box-shadow: -1px 3px 10px -2px rgba(0,0,0,0.5);
    font-size: 12px;
}
    .button-primary{
        background-color: #F15A24;
        color: white;
    }
    .button-danger{
        background-color: #D00;
        color: white;
    }
    .button-default{
        background-color: #F15A24;
        color: white;
    }
    .button-small{
        height: 30px;
        line-height: 30px;
        padding: 0 17px;
    }
    .button-shadow{
        box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.2);
    }

.redText{
    color: #D00;
}




header{
    height: 500px;
    background-image: url(../img/bg-main.jpg);
    background-repeat: no-repeat;
    /*background-position: 60% 0;*/
    background-position: center;
    margin-top: 0px !important;
    color: white;
}
    header.header-not-main{
        height: 250px;
        -webkit-animation: header-height .3s;
        animation: header-height .3s;
    }
    header.header-main{
        height: 500px;
        -webkit-animation: header-height-revers .3s;
        animation: header-height-revers .3s;
    }

        @-webkit-keyframes header-height {
            from {height: 500px;}
            to {height: 250px;}
        }
        @keyframes header-height {
            from {height: 500px;}
            to {height: 250px;}
        }
        @-webkit-keyframes header-height-revers {
            from {height: 250px;}
            to {height: 500px;}
        }
        @keyframes header-height-revers {
            from {height: 250px;}
            to {height: 500px;}
        }

    .slogan{
        color: white;
        position: absolute;
        top: 20px;
        left: 90px;
        /*font-size: 24px;*/
    }
    .logo-area{
        position: relative;
        background-color: rgba(50,50,50,.5);
        padding: 10px;
        color: white;
    }
    section.navigation{
        margin-top: 0;
        box-shadow: 1px 2px 5px rgba(0,0,0,.5);
    }
        section.navigation a{
        }
            section.navigation ul{
                padding: 0;
            }
            section.navigation li{
                height: 25px;
                line-height: 25px;
                list-style-type: none;
                display: inline-block;
                background: #cdcdcd;
                margin-right: -5px;
                text-align: center;
                border-left: 1px solid white;
            }
                section.navigation a:first-child li{
                    margin-right: -4px;
                    border-left: none;
                }
            section.navigation .active li{
                background: #FFCB05;
            }
            section.navigation li:hover{
                -webkit-animation: color_change .3s;
                background: #FFCB05;
            }
            section.navigation li:before{
            }
@-webkit-keyframes color_change {
    from { background-color: #cdcdcd; }
    to { background-color: #FFCB05; }
}





.pageContent{
    padding-top: 0;
    padding-bottom: 100px;
}



footer{
    padding-top: 25px;
    padding-bottom: 25px;
    color: #CCC;
    position: absolute !important;
    background-color: rgba(50,50,50,.7);
    left: 0;
    bottom: 0;
    height: 50px;
    width: 76%;

}
    footer li{
        list-style-type: none;
        display: inline-block;
        margin: 0 20px;
    }
    footer a{
        color: white;
    }

.toright {
    position: relative;
    top: -3px;
}


div.AdminPanelGap{
    height: 35px;
    background-color: #252428;
}
div.AdminPanel{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    background-color: rgba(64,63,66,.9);
    border-bottom: 1px solid gray;
    color: #aaa;
    padding-top: 10px;
    height: 25px;
}




div.AdminPanel .editModeLavel, .AdminPanel{
    vertical-align: top;
    padding-right: 10px;
}
div.AdminPanel button, .adminPage button, .userProfileItem-displayStatus button{
  vertical-align: top;
  height: 25px;
  font-size: 12px;
  text-shadow: 1px 1px black;
}
    .adminPage button{
        margin-top: -3px;
        height: 25px;
    }
div.AdminPanel button, div.AdminPanel button:after, div.AdminPanel button:before{
  border-radius: 3px;
}
.AdminPanel .switch, .AdminPanel{
    display: inline-block;
}

.AdminPanel{
    height: 18px;
}




input.toggleCheckbox {
    position: absolute;
    visibility: hidden;
}
input.toggleCheckbox + label {
    display: block;
    position: relative;
    cursor: pointer;
    outline: none;
    user-select: none;
}
input.toggleCheckbox-round + label {
    padding: 2px;
    width: 37px;
    height: 13px;
    background-color: #EBDAC8;
    border-radius: 13px;
}
input.toggleCheckbox-round + label:before, input.toggleCheckbox-round + label:after {
    display: block;
    position: absolute;
    top: 1px;
    left: 1px;
    bottom: 1px;
    content: "";
}
input.toggleCheckbox-round + label:before {
    right: 1px;
    background-color: gray;
    border-radius: 13px;
    transition: background 0.2s;
}
input.toggleCheckbox-round + label:after {
    width: 13px;
    background-color: #EBDAC8;
    border-radius: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: margin 0.2s;
}
input.toggleCheckbox-round:checked + label:before {
    background: linear-gradient(to bottom, #cde4a7 0%, #7CBD18 20%, #7CBD18 70%, #75B230 92%, #8BBE51 96%, #B0C89B 100%);
}
input.toggleCheckbox-round:checked + label:after {
    margin-left: 25px;
}





.admin-login-form input,{
    font-size: 15px;
    padding: 10px;
    margin: 10px;
}

.ui-tooltip, .ui-helper-hidden-accessible { display:none; }



.progress{
    width: 100%;
    text-align: center;
}
.progress img{
    -webkit-animation:spin .5s linear infinite;
    animation:spin .5s linear infinite;
}

    @-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
    @keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }




.container {
    width: 960px;
    margin: 0 auto;
    padding: 0 0 90px 0;
}

.rowcontent {
    display: inline-block;
    width: 100%;
    position: relative;
    top: -300px;

}
.rowcontent:first-child {
    top: 0;
}
.rowcontent.adv {
    height: 550px;
}
.rowcontent:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
}
.adv h3 {
    text-align: center;
    font-weight: 300;
}
.nav {
    list-style: none;
    margin: 83px 0 4px 0;
}
.nav li {
    font-size: 1.3em;
    padding-bottom: 8px;

}
.adv img {
    position: relative;
    top: -383px;
    right: -553px;
}

.backlogo {
    position: relative;
    top: -696px !important;
    right: -446px !important;
    width: 37px;
    height: 37px;
}


div.rowcontent.thewall {
    height: 100px;
    padding: 0;
    background: rgba(184, 182, 182, 1);

}
.thewall img {
    position: relative;
    top: 18px;
    left:calc(50% - 30.5px);
}

.workprocess {
    padding-top: 50px
}

.workprocess h1 {
    font-weight: 300;
    text-align: center;
    padding-bottom: 50px;
}

.iconprogress {
    position: relative;
    top: 65px;
    left: 29%;
}
.workprocess p {
    text-align: center;
    border: 10px double #000;
}
.guarantee  {
    position: relative;
    top: -264px;
    left: 93%;
}

.reviews {
    height: 180px;
    background: rgba(184, 182, 182, 1);
    display: inline-block;
}

.reviewname h1 {
    color: #fff;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 5px;
    font-size: 29pt;
    float: left;
    padding-top: 0;
}
.reviewimage {
    padding-top: 4px;
    padding-left: 60px;
    float: left;
}
.reviewcontent {
    float: right;
    width: 400px;
    color: #fff;
    text-shadow: none;
    padding-top: 0;
}

.consultation {
    display: inline-block;
    height: 300px;
}

.consultationhead {
    float: left;
    width: 50%;
}
.consultationhead p {
    font-size: 44pt;
    font-weight: 400;
    color: #555;
    text-align: center;
    margin: 0;
    padding: 30px 0 0 0 ;
}
.consultationhead p:last-child {
    font-size: 25pt;
    font-weight: 400;
    padding:0 ;
}
.consform {
    float: right;
    width: 50%;
}
.consform form input{
    display: block;
    width: 460px;
    height: 30px;
    margin-bottom: 5px;
    margin-top: 0;
    background: #555;
    border: 0px solid red;
    padding-left: 5px;
}
.consform form textarea {
    height: 140px !important;
    width: 457px;
    background: #555; 
    border: 0px solid red;
    padding-left: 5px;
}
.consform p {
    font-size: 12pt;
    font-weight: 300;
    margin-bottom: 0;
}
.consform button {
    height: 30px;
    width: 100px;
    color: #fff;
    background: #777;
    border: 0px solid red;
    position: relative;
    left: 365px;
}
.works {
    height: 180px;
    background: rgba(184, 182, 182, 1);
    display: inline-block;
    margin-top: 100px;
}
.workhead {
    float: left;
    color: #fff;

}
.worksimage{
    margin-top: 5px;
    margin-left: 60px;
    float: left;
    height: 172px;
    width: 180px;
    background: url(/img/ticks.gif) 0px -45px no-repeat;
    background-size: cover;
}

.exampleworks p {
    float: right;
    width: 400px;
    color: #fff;
    text-shadow: none;
    padding-top: 0;
    font-size: 15pt;
}
.examples {
    margin: 0 auto;
    padding-top: 100px;
}

.photo {
    display: inline-block;
    width: 145px;
    height: 450px;
    background: #bbb;
    margin-right: 0;
    border: 2px groove #777;
    box-shadow: 1px 1px 3px #ccc;
}
.photo:first-child {
    margin-left: 15px;
}
.service {
    color: #fff;
    height: 180px;
    background: rgba(184, 182, 182, 1);
    margin-top: 35px;
}
.servicehead {
    width: calc(50% - 1px);
    float: left;
    text-align: center;
    padding-top: 75px;

}
.servicenav {
    width: calc(50% - 1px);
    float: right;
    color: #fff;
    padding-top: 15px;
}
.servicehead p:first-child {
    font-size: 15pt;
    text-transform: uppercase;
    margin-bottom: 0;
    padding-left: 148px;
}
.servicehead p {
    font-size: 10pt;
    width: 250px;
    margin-top: 0;
    padding-left: 143px;
}
.advantage {
    height: 300px;
    padding: 25px 0 25px 0;
}
.advantage h3 {
    margin: 0;
    text-align: center;
    background: #fff url(/img/smile.png) 254px 2px no-repeat;
    font-size: 16pt;
    padding: 9px 2px 2px 2px;
    height: 46px;
    margin-bottom: 25px;
    vertical-align: bottom;
}
.advantage div {
    display: inline-block;
    float: left;
    margin-right: 10px;
    font-size: 9pt;
        padding-left: 60px;
    width: 166px;
   
}
.advantage div p:first-child {
    margin-bottom: 0;
    font-weight: bold;
}
.advantage p {
    margin-top: 0;
}

.plusicon1 {
    background: #fff url(/img/puzzle.png) 0px 10px no-repeat;
}
.plusicon2 {
    background: #fff url(/img/star.png) 0px 7px no-repeat;
}
.plusicon3 {
    background: #fff url(/img/alarm.png) 0px 12px no-repeat;
}
.plusicon4 {
    background: #fff url(/img/award.png) 0px -1px no-repeat;
}

.nextrow {
    background: rgba(184, 182, 182, 1);
    height: 100px;
}
.nextrow h4 {
    color: #fff;
    text-align: center;
    margin: 0;
    padding: 10px 0 0 0;
    text-transform: uppercase;
}
.nextrow img {
    position: relative;
    top: 1px;
    left: calc(50% - 30.5px);
}
.advices {
    margin: 25px 0 25px 0;
}
.advices h1 {
    font-weight: 300;
    text-align: center;
    background: #fff url(/img/check.png) 217px 0px no-repeat;
    margin-left: 113px;
}
.advice1 {
    font-weight: bold;
}
.advice2 {
    font-size: 10pt;
}
.advice2 span {
    font-weight: bold;
}
.advice3 {
    font-size: 10pt;
}
.advice4 {
    font-size: 10pt;
    font-weight: bold;
}
.advices a{
    color: rgba(0,136,203,1);
    font-weight: bold;
}
.questions {
    background: rgba(184, 182, 182, 1);
    height: 100px;
    color: #fff;
    margin-top: 25px;
}

.questions h3 {
    margin: 30px 70px 0 0 ;
    display: inline-block;
    float: left;
    padding-left: 100px;
}
.questions h1 {
    width: 190px;
    height: 70px;
    margin: 0;
    padding-top: 30px;
    display: inline-block;
    float: left;
    padding-left: 70px;
    background: rgba(184, 182, 182, 1) url(/img/bluephone.png) 7px 18px no-repeat;
}