header, footer, section{
    padding-left: calc(50% - 480px);
    padding-right: calc(50% - 480px);
    position: relative;
    margin-top: -16px;
    margin-bottom: -16px;
}
    .pinRight{
        position: absolute;
        display: inline-block;
        right: calc(50% - 480px);
    }
    .pinLeft{
        position: absolute;
        left: calc(50% - 480px);
    }
    .icons.arrow-left{
        left: calc(50% - 530px);
    }
    .icons.arrow-right{
        right: calc(50% - 530px);
    }


.grid-quarter, .grid-third, .grid-doubleThird, .grid-half{
    display: inline-block;
    margin-left: -2.5px;
    margin-right: -2.5px;
    vertical-align: top;
}

    .grid-quarter{
        width: 25%;
    }
    .grid-third{
        width: 33%;
    }
    .grid-doubleThird{
        width: 66%;
    }
    .grid-half{
        width: 50%;
    }


header .icons.bars{
    display: none;
}


@media (max-width: 1060px){
    .icons.arrow-left{
        left: 0;
    }
    .icons.arrow-right{
        right: 0;
    }
}
@media (min-width: 960px) and (max-width: 1060px){
    header, footer, section{
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media (max-width: 959px){
    header, footer, section{
        padding-left: 20px;
        padding-right: 20px;
    }
    .pinRight{
        right: 20px;
    }
    .pinLeft{
        left: 20px;
    }





    section.jewellery .icons.arrow-left, section.jewellery .icons.arrow-right{
        display: none;
    }

}

@media (max-width: 959px){

    header h1.regularText{
        display: none;
    }

    footer .grid-third{
        width: 50%;
    }
    .productItem .productItem-button{
        visibility: visible;
    }

}

@media (max-width: 700px){
    header .pinRight{
        width: 90%;
        width: calc(100% - 20px);
    }
    header .header-spacing{
        width: 40%;
        width: calc(100% - 210px);
    }
    header .icons.bars{
        display: block;
        position: absolute;
        top: 8px;
        z-index: 1;
    }
    header span.mainMenu{
        display: none;
    }

    header span.mainMenu.mobileActive{
        display: block;
        position: absolute;
        top: 40px;
        left: 0;
        width: 100%;
        width: calc(100% + 20px);
        background-color: rgba(16,84,105,0.7);
        z-index: 1;
    }
    header span.mainMenu a{
        display: block;
    }

}




@media (max-width: 640px){
    .grid-quarter{
        width: 50%;
    }
    .grid-third{
        width: 100%;
    }
    .grid-doubleThird{
        width: 100%;
    }
    .grid-half{
        width: 100%;
    }


    a.underlineOnHover, .blogItem > a h3{
        text-decoration: underline;
    }
    h2{
        font-size: 30px;
    }
    .button{
        font-size: 14px;
    }
    section.subHeader .button{
        display: none;
    }


    section.mainSlider h2, section.mainSlider ul, section.mainSlider .button{
        margin-left: 30px;
    }
    section.mainSlider h2{
        width: calc(100% - 30px);
    }
    section.mainSlider .imageHolder{
        height: 300px;
        background-size: auto 100%;
        margin-bottom: 40px;
    }




    .rapidPrototypingBenefits-item
    {
        margin: 20px 0;
    }


    footer .grid-third{
        width: 100%;
    }
    footer .grid-half{
        width: 50%;
    }


}
@media (max-width: 480px){
    .subHeader-logo{
        width: 50%;
        height: auto;
    }
    .subHeader-contacts b{
        font-size: 15px;
    }
    .grid-quarter{
        width: 100%;
    }

    footer .social .icons,footer .payment .icons{
        margin: 2px;
    }
}