<!DOCTYPE html>
<html ng-app="wmApp" ng-controller="RootCtrl">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

  <title>Строй групп</title>



  <link rel="stylesheet" href="css/font-awesome.min.css">
  <link rel="stylesheet" href="css/summernote.css" />
  <link rel="stylesheet" href="css/summernote-bs3.css" />
  <link rel="stylesheet" href="css/main.css" />
  <link rel="stylesheet" href="css/responsive.css" />

</head>
<body ng-controller="PagesCtrl" class="ng-cloak" ng-cloak>

  <div class="AdminPanelGap" ng-show="admin"></div>
  <div class="AdminPanel" ng-show="admin">
    <div class="pageInner">
      <span class="pinLeft">Панель администратора</span>
      </div>
        <div class="pinRight">
        <span class="toright">Режим правка</span>
        <div class="switch">
          <input ng-model="adminEditMode" id="toggleCheckboxEditMode" class="toggleCheckbox toggleCheckbox-round" type="checkbox">
          <label for="toggleCheckboxEditMode"></label>
        </div>
      </div>
    </div>
  </div>

  <div class="wrapper">
    <header ng-class="!(pageActive=='home'||!pageActive)?'header-not-main':'header-main'">
      <div class="logo-area">
        <a href="/">
        <img src="img/logo.png" alt="">
          <div class="slogan">Строительная компания <br>Строй групп</div>
        </a>
        <div class="contacts pinRight">
          Выезжаем по звонку<br>
          <span class="big">8 (3822) 97-90-97 обращайтесь,</span><br>
          ​чтобы узнать примерную стоимость &nbsp;&nbsp;&nbsp;<br>

        </div>
      </div>
    <section class="navigation" class="ng-cloak" ng-cloak>
      <ul  ui-sortable="sortableOptions" ng-model="listTop" menu-type="0">
        <a href="#{{item.url}}" ng-class="{sortablePage:admin, active:(pageActive == item.url)}" ng-repeat="item in listTop track by item.id" id="{{item.id}}Link" priorityIndex="{{item.priority}}">
          <li style="width: {{100/listTop.length}}%;">
            {{getTitle(item)}}
          </li>
        </a>
      </ul>
    </section>

      </header>


    <div ng-controller="PageCtrl" class="pageContent" ng-cloak>
      <section class="form-horizontal" role="form">
      <div class="row" ng-show="pageActive=='admin'">
        <div ng-hide="admin">
          <form>
            <h2>Режим администратора</h2>
            <input ng-model="adminData.usr" type="text" placeholder="Login"><br>
            <input ng-model="adminData.pass" type="password" placeholder="Password"><br>
            <button class="button button-default" ng-click="adminlogIn()">LogIn</button> &nbsp; as administratur
          </form>
        </div>
        <div ng-show="admin">
          <form>
            <h2>Алексей, в настоящее время Вы находитесь в режиме администратора</h2>
            <a href="/">На главную</a>, вернуться в &nbsp; <button class="button button-default" ng-click="adminlogOut()">Режим пользователя</button>
          </form>
        </div>
      </div>

      </section>

        <div ng-hide="admin && adminEditMode">
          <div ng-show="onSync" class="progress">
              <img src="img/progress.png" alt="">
          </div>
          <h1 ng-hide="(data.url == 'home' || onSync)">{{getTitle(data)}}</h1>
          <p ng-hide="(data.url == 'home' || onSync)" ng-bind-html="getContent()"></p>
          <div class="contentdiv" ng-show="data.url == 'home'">
            <div class="rowcontent adv">
              <div class="container">
              <h3>ОСНОВНЫЕ ПРЕИМУЩЕСТВА ПЕРЕД КОНКУРЕНТАМИ</h3>
              <ul class="nav">
                <li>- Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet.</li>
                <li>- Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet.</li>
                <li>- Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet.</li>
                <li>- Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet.</li>
                <li>- Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet.</li>
                <li>- Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet.</li>
                <li>- Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet.</li>
                <li>- Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet.</li>
                <li>- Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet.</li>
                <li>- Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet.</li>
              </ul>
              <img class="mount" src="img/mount.jpg" alt="">
              <img class="backlogo" src="img/logo.png" alt="">
              </div>
            </div>
            <div class="rowcontent thewall">
              <img src="img/down.png" alt="">
            </div>
            <div class="rowcontent workprocess">
              <div class="container">
              <img class="iconprogress"src="img/process.png" alt="">
              <h1>Процесс работы</h1>
              <p>
              <img src="img/guarantee.png" alt="">
              </p>
              <img class="guarantee" src="img/guaranteetop.png" alt="">
              </div>
            </div>
            <div class="rowcontent reviews">
              <div class="container">
                <div class="reviewname">
                  <h1>Отзывы</h1>
                </div>
                <div class="reviewimage">
                  <img src="img/noyes.jpg" alt="">
                </div>
                <div class="reviewcontent">
                  <h4>Отзыв #1</h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi ipsa nobis voluptas quos cupiditate odit dicta placeat ex quisquam quas.</p>
                  <h4>Name Surname</h4>
                </div>
              </div>
            </div>
            <div class="rowcontent consultation">
              <div class="container">
                <div class="consultationhead">
                  <p>Нужна консультация профессионала?</p>
                  <p>звоните по телефону 997-991</p>
                </div>
                <div class="consform">
                  <p>ИЛИ заполните заявку и мы ВАМ ОБЯЗАТЕЛЬНО перезвоним</p>
                  <form action="">
                    <input placeholder="Имя" type="text">
                    <input placeholder="Email" type="text">
                    <input placeholder="Телефон" type="text">
                    <textarea placeholder="Сообщение"name="" id="" cols="30" rows="10"></textarea>
                    <button>Отправить</button>
                  </form>
                </div>
              </div>
            </div>
            <div class="rowcontent works">
               <div class="container">
                <div class="workhead">
                  <h1>НАШИ РАБОТЫ</h1>
                </div>
                <div class="worksimage">
             
                </div>
                <div class="exampleworks">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi ipsa nobis voluptas quos cupiditate odit dicta placeat ex quisquam quas.</p>
                </div>
            </div>
          </div>
            <div class="rowcontent examples">
              <center>
             <div class="photo"></div>
             <div class="photo"></div>
             <div class="photo"></div>
             <div class="photo"></div>
             <div class="photo"></div>
             <div class="photo"></div>
             <div class="photo"></div>
             <div class="photo"></div>                
           </center>
            </div>
            <div class="rowcontent service">
              <div class="container">
                <div class="servicehead">
                  <p>бесплатный сервис</p>
                  <p>Клиентский отдел (4912) 997-991</p>
                </div>
                <div class="servicenav">
                  <ul>
                    <li>Выезд на замер</li>
                    <li>Консультации по телефону</li>
                    <li>Консультация по дизайну интерьера</li>
                    <li>Консультация по стройматериалам</li>
                    <li>Уборка квартиры перед сдачей работ</li>
                    <li>Сервис Клиента: 24 часа в сутки</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="rowcontent">
              <div class="container advantage">
                <h3>ЧТО ПОЛУЧАЮТ НАШИ КЛИЕНТЫ</h3>
                <div class="plusicon1">
                  <p>Комплексные решения</p>
                  <p>Адаптация проекта под Заказчика,
комплекс услуг от дизайна
до расстановки мебели</p>
                </div>
                <div class="plusicon2">
                  <p>Бесплатный выезд на замер</p>
                  <p>Наши специалисты приедут для замеров и консультации в любое удобное для вас время</p>
                </div>
                <div class="plusicon3">
                  <p>Оперативное предоставление сметы</p>
                  <p>Мы имеем большой опыт, позволяющий проводить расчет сметы всего за 24 часа</p>
                </div>
                <div class="plusicon4">
                  <p >Гарантия оптимальной цены</p>
                  <p>Закупка материалов
с максимальными скидками, ответственное использование материалов</p>
                </div>
              </div>
            </div>
            <div class="rowcontent nextrow">
              <h4>Далее</h4>
              <img src="img/down.png" alt="">
            </div>
            <div class="rowcontent advices">
              <div class="container">
                <h1>Полезные советы</h1>
                <p class="advice1">Как проверить, совпадут ли обещания строительной бригады с результатом работы?</p>
                <p class="advice2">Это просто. Посмотрите портфолио будущего подрядчика и задайте один вопрос: <span>"Ваши Клиенты приглашают вас на новоселье в отремонтированную квартиру?".</span>
                </p>
                <p class="advice3">Несколько недель назад руководители СК АИСТ были приглашены на торжественный ужин в честь завершения ремонта под ключ однокомнатной квартиры на ул. Татарская. <a href="#">Фото-отчет здесь.</a></p>
-------
                <p class="advice4">Больше советов в нашем блоге. <a href="#">Читать</a></p>
              </div>
            </div>
            <center>
            <div class="rowcontent questions">
              <h3>Остались вопросы? Звоните</h3>
              <h1>111-111</h1>
            </div>
          </center> 
          </div>
        </div>
        <div ng-show="admin && adminEditMode">
              Заголовок
              <input id="pageName" type="text" placeholder="Page tile" ng-model="data.name" ng-change="api.pushItemUpdateEvent(data);data.url=api.nameToUrl(data.name)">
              &nbsp;&nbsp;&nbsp; URL
              <input id="pageUrl" type="text" placeholder="" ng-model="data.url" ng-change="api.pushItemUpdateEvent(data)">
              &nbsp;&nbsp;&nbsp; Показать в меню
              <select id="pageLinkType" ng-model="data.linkType"  ng-options="menu.val as menu.name for menu in menuTypes"></select>

          <br>
          <br>
          <summernote ng-model="data.content" config="summernoteOptions"></summernote>
          <br>
          <button class="button" ng-class="onSync?'button-primary':'button-default'" ng-disabled="!data.url || !data.name || data.linkType==='' || data.linkType===undefined" ng-click="savePage();" ng-bind="saveLavel()"></button>
          <button class="button" ng-click="newPage()">Новая страница</button>
          <button class="button" ng-show="(!data.redyToRemove && data.id)" ng-click="api.askRemoveItem(data.id)">Стереть</button>
          <a href="/" class="button button-danger" ng-show="data.redyToRemove" ng-click="api.removeItem(data.id)">Удалить ?</a>
          <button class="button button-default" ng-show="data.redyToRemove" ng-click="api.rejectRemoveItem(data.id)">Отмена</button>
        </div>


      <div class="loadingSpot" ng-show="onSync"></div>

    </div>
    <footer>
      <div class="menu"  ng-model="listTop" menu-type="0" >
          <li ng-class="{sortablePage:admin, active:(pageActive == item.url)}" ng-repeat="item in listTop track by item.id" id="{{item.id}}Link" priorityIndex="{{item.priority}}">
              <a href="#{{item.url}}">{{getTitle(item)}}</a>
          </li>
 <div class="admsin-visible" ng-show="admin">
            <br>
            Скрытые страницы:
            <li ng-class="{sortablePage:admin, active:(pageActive == item.url)}" ng-repeat="item in listLeft track by item.id" id="{{item.id}}Link" priorityIndex="{{item.priority}}">
                <a href="#{{item.url}}">{{getTitle(item)}}</a>
            </li>
            <li ng-repeat="item in listHidden track by item.id" id="{{item.id}}Link" priorityIndex="{{item.priority}}">
                <a href="#{{item.url}}">{{getTitle(item)}}</a>
            </li>
            <li><a href="#/admin">Admin page</a></li>
        </div>
       
    </footer>
  </div>


  <script type="text/javascript" src="js/lib/jquery.js"></script>
  <script type="text/javascript" src="js/lib/jquery-ui.min.js"></script>
  <script type="text/javascript" src="js/lib/summernote.min.js"></script>
  <script type="text/javascript" src="js/lib/summernote-ru-RU.js"></script>
  <script type="text/javascript" src="js/lib/bootstrap.min.js"></script>
  <script type="text/javascript" src="js/lib/angular.min.js"></script>
  <script type="text/javascript" src="js/lib/angular-ui-sortable.js"></script>
  <script type="text/javascript" src="js/lib/angular-summernote.js"></script>



  <script type="text/javascript" src="/dpd.js"></script>
  <script type="text/javascript" src="/js/app.js"></script>
  <script type="text/javascript" src="/js/services.js"></script>
  <script type="text/javascript" src="/js/pages.js"></script>
</body>
</html>